body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  background: url(images/background.jpg) no-repeat center center fixed;
  background-size: cover;
  color: black;
}

header {
  background-color: white;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
	gap: 20px;
}

header h1 {
  color: #91baff;
  font-size: 2em;
  margin: 0;
}

.sprite {
  background: url('images/water-sprite.png') no-repeat -20px -26px;
  width: 55px;
  height: 53px;
  animation: play 1s steps(1) infinite;
}

@keyframes play {
  0%    { background-position: -20px  -26px; }
  12.5% { background-position: -82px  -26px; }
  25%   { background-position: -143px -26px; }
  37.5% { background-position: -205px -26px; }
  50%   { background-position: -299px -26px; }
  62.5% { background-position: -361px -26px; }
  75%   { background-position: -422px -26px; }
  87.5% { background-position: -484px -26px; }
  100%  { background-position: -20px  -26px; }
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

nav ul li {
  margin-right: 20px;
}

nav ul li a {
  text-decoration: none;
  color: #333;
  font-size: 1.2em;
  font-weight: bold;
  padding: 5px 20px;
}

nav ul li a:hover {
  background-color: #91baff;
  border-radius: 5px;
}

nav ul li.breakdown {
  position: relative;
}

nav ul li.breakdown .in {
  display: none;
  position: absolute;
  background-color: #333;
  min-width: 160px;
  z-index: 1;
  border-radius: 5px;
}

nav ul li.breakdown:hover .in {
  display: block;
}

nav ul li.breakdown .in a {
  padding: 10px;
  display: block;
  color: white;
  text-decoration: none;
}

nav ul li.breakdown .in a:hover {
  background-color: #91baff;
}

.profile {
  max-width: 600px;
  background: white;
  margin: 3em auto;
  padding: 20px;
  border-radius: 10px;
  text-align: justify;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

h2{
	font-size: 30px;
	text-align: center;
	margin-top: 40px;
}
