body {
    background: url(images/background.jpg) no-repeat center center fixed;
    background-size: cover;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: Black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
}

.quiz-container {
    max-width: 70em;
    background: white;
    padding: 10px;
    border-radius: 12px;
    text-align: center;
}

h2 {
    margin: 20px;
	margin-bottom: 30px;
}

.question {
    margin: 2em;
}

button {
	padding: 10px;
	margin: 5px;
    border: none;
    background-color: #91baff;
    color: black;
    border-radius: 5px;
	font-size: 16px;
    width: 100%;
    max-width: 300px;
    margin-left: auto;
    margin-right: auto;
}

button:hover {
    background-color: #7faee3;
}

.result {
    margin-top: 20px;
}

