body{
	background-color: #9bafd9;
}
h1 {
    color: #ced5d1;
	font-size: 3em;
	background-color: #103f4a;
}

h2 {
	color: #ced5d1;	
	margin-left: 20px;
	font-size: 30px;
}

p {
  margin-left: 30px;
  margin-right: 25em;
  font-size: 24px;
  align-content: justify;
  background-color: #103f4a;
  padding: 5px;
  color: #ced5d1;
}

a {
	margin-left: 30px;
	font-size: 20px;
}

a:hover {
	color: #00d1ff;
}
