/* General Body Styling */
body {
    background: url(images/background.jpg) no-repeat center center fixed;
    background-size: cover;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: #ffffff;
}

header {
    background-color: white;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

header h1 {
    color: #91baff;
    font-size: 2em;
    margin: 0;
}

/* Navigation Styling */
nav {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #333;
    font-size: 1.2em;
    padding: 10px 20px;
}

nav ul li a:hover {
    background-color: #91baff;
    border-radius: 5px;
}

/* Dropdown Menu Styling */
nav ul li.breakdown {
    position: relative;
}

nav ul li.breakdown .in {
    display: none;
    position: absolute;
    background-color: #333;
    min-width: 160px;
    z-index: 1;
}

nav ul li.breakdown:hover .in {
    display: block;
}

nav ul li.breakdown .in a {
    padding: 10px;
    text-align: left;
    color: #fff;
    display: block;
    text-decoration: none;
}

nav ul li.breakdown .in a:hover {
    background-color: #91baff;
}


section.d img {
	background: url(images/background.jpg) no-repeat center center fixed;
    background-size: cover;
    width: 100%; /* Ensures the section spans the full width */
    display: flex; /* Allows for flexible content alignment */
    justify-content: center; /* Centers content horizontally */
    align-items: center; /* Centers content vertically */
	
}

h2 {
	text-align: center;
	font-size: 45px;
	padding: 4em 6em 0em;
}

section.q {
	text-align: center;
}

section.q p {
	text-align: center;
	padding: 0em 9em 1em;
	font-size: 20px;
	line-height: 1.5;
}

section.q h3 {
	padding: 4em 9em 0;
	font-size: 45px;
}

section.w {
	text-align: center;
}

section.w h3 {
	padding: 4em 9em 0;
	font-size: 45px;
}

section.w p {
	text-align: center;
	padding: 0em 9em 1em;
	font-size: 20px;
	line-height: 1.5;
}

section.w img {
	border-radius: 1em;
	width: 30em;
	transition: transform 0.3s ease;
	padding-bottom: 4em;
}

section.w img:hover {
	transform: scale(1.5);
}



@media (max-width: 768px) {
    header {
        flex-direction: column;
        text-align: center;
    }

    nav ul {
        flex-direction: column;
        margin-top: 10px;
    }

    h1 {
        font-size: 1.5em;
    }

    nav ul li {
        margin-right: 0;
        margin-bottom: 10px;
    }
}